html, body, bgColor {
  background-color: rgb(31, 161, 90);  
}

input[type="text"]{
  background:transparent;
  color: white;
  
}

input[type="text"]:focus{
  background: transparent;
  color: white;
}
